<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen bg-zinc-900 p-8 text-white">
        <h2 class="text-[30px] mb-6">Login Your Account</h2>
        <form action="/login" method="post" class=" text-white">
            <input type="text" placeholder="Email" name="email" class="px-3 py-2 outline-none  bg-transparent border-2 border-zinc-700 rounded-md ">
            <input type="password" placeholder="Password" name="password" class="px-3 py-2 outline-none  bg-transparent border-2 border-zinc-700 rounded-md ">
            <input type="submit"value="Login"  class="px-5 py-2 outline-none  bg-yellow-600 rounded-md ml-5">
        </form>
    </div>
</body>

</html>