<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full min-h-screen bg-zinc-900 p-8 text-white">
        <h2 class="text-[30px] mb-6">Upload Profile Picture</h2>
        <form autocomplete="off" action="/uploadFile" method="post" enctype="multipart/form-data" class=" text-white">
            <input type="file" name="newFile" class="px-3 py-2 outline-none   border-2 border-zinc-700 rounded-md ">
            <input type="submit" value="Upload file" class="px-3 py-2 outline-none  bg-green-600 rounded-md ml-5">
        </form>
    </div>
</body>

</html>