<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>

<body>
    <div class="w-full h-screen p-8 bg-zinc-900 text-white">
        <h2 class="my-2 text-[30px]">Login your account</h2>
        <form method="post" action="/login">
            
            <input class="text border-2 border-zinc-800 rounded-md px-3 py-2 outline-none" type="email" placeholder="Email" name="email">
            <input class="text border-2 border-zinc-800 rounded-md px-3 py-2 outline-none" type="password" placeholder="Password" name="password">

            <input type="submit" value="login user" class="bg-blue-500 rounded px-3 py-2 ml-4">
        </form>
    </div>
</body>

</html>